@using System.Web.Optimization

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="tr">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /><!-- Renders all pages in edge mode in IE-->

    <title></title>

    @Styles.Render("~/bundles/ControlPanelCss")
    @Scripts.Render("~/bundles/ControlPanelJs")
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
