<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Trace" internalLogFile="${basedir}\Logs\Internal.log">

  <targets async="true">

    <target name="SessionServiceLog"
      xsi:type="File"
      layout="${longdate} ${message}"
      fileName="${basedir}\Logs\SessionServiceLog.log"
      archiveAboveSize ="10240000"
      maxArchiveFiles="20">
      
    </target>

    <target name="StopWatchLog"
      xsi:type="File"
      layout="${longdate} ${message}"
      fileName="${basedir}\Logs\StopWatchLog.log"
      archiveAboveSize ="10240000"
      maxArchiveFiles="20">

    </target>

    <target name="ApplicationAndSessionLog"
     xsi:type="File"
     layout="${longdate} ${message}"
     fileName="${basedir}\Logs\ApplicationAndSessionLog.log"
     archiveAboveSize ="10240000"
     maxArchiveFiles="20">

    </target>

    <target name="ControllerLog"
      xsi:type="File"
      layout="${longdate}  ${message} ${callsite:includeSourcePath=true} ${stacktrace:topFrames=10} ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
      fileName="${basedir}\Logs\ControllerLog.log"
      archiveAboveSize ="10240000"
      maxArchiveFiles="20">
      
    </target>

  </targets>
  
  <rules>

    <logger name="ControllerLogger" minLevel="Trace" writeTo="ControllerLog" />
    <logger name="SessionServiceLogger" minLevel="Trace" writeTo="SessionServiceLog" />
    <logger name="StopWatchLogger" minLevel="Trace" writeTo="StopWatchLog" />         
    <logger name="ApplicationAndSessionLogger" minLevel="Trace" writeTo="ApplicationAndSessionLog" />

</rules>

  <extensions>
    <add assembly="GzyConcept.Core" />
  </extensions>

</nlog>
